@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');

body {
    background-color: powderblue;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    min-width: 760px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    height: 8vw;
    min-height: 120px;
}

.logo-img {
    width: 100px;
}

.logo-text {
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
}

.fredoka-one {
    font-family: 'Fredoka One', cursive;
}

.greeting {
    line-height: 7rem;
}

.overlayer {
    border: 3px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    margin: auto;
}