@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Indie+Flower|Sniglet:800|Bowlby+One+SC|Luckiest+Guy');

body {
    font-family: 'Lato', sans-serif;
}

a {
    transition: 0.5s ease;
    cursor: pointer;
    color: hsl(141, 71%, 48%);
}

a:hover {
    transition: 0.5s ease;
    color: hsl(0, 0%, 21%);
}

nav {
    height: 80px;
}

.box-shadow {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.outline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-item img {
    max-height: unset;
}

.navbar-burger {
    height: 5rem;
    width: 5rem;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.petite-caps {
    font-variant-caps: all-petite-caps;
}

.product-img {
    width: 250px;
}

.landing-img {
    background-image: url(/Assets/Images/dog-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.explore-img {
    background-image: url(/Assets/Images/dogs-explore.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-img {
    background-image: url(/Assets/Images/pug-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fredoka-one {
    font-family: 'Fredoka One', cursive;
}

.indie-flower {
    font-family: 'Indie Flower', cursive;
}

.sniglet {
    font-family: 'Sniglet', cursive;
}

.bowlby-one-sc {
    font-family: 'Bowlby One SC', cursive;
}

.luckiest-guy {
    font-family: 'Luckiest Guy', cursive;
}

.tagline {
    font-size: 4rem;
}

.text-container {
    height: auto;
    margin: auto;
    width: 50%;
    max-width: 500px;
    text-wrap: normal;
}

.name-container {
    width: auto;
    max-width: 250px;
}

.cart-vc {
    width: 200px;
    position: relative;
}

.fb-button {
    background-color: rgb(66, 103, 178);
    color: white;
}

.ms-button {
    background-color: rgb(246, 83, 20);
    color: white;
}

.quantity-input {
    width: 3rem;
}

.hide-overflow {
    overflow: hidden;
}

.mobile-hide {
    display: block;
}

.scrollable {
    max-height: 100px;
    /*max-width: 200px;*/
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrap {
    text-wrap: normal;
    width: auto;
    max-width: 100px;
}

@media (min-width: 1200px) {
    .tagline {
        font-size: 6vw;
    }
}

@media (max-width: 1088px) {
    .wrap {
        text-wrap: normal;
        width: 250px;
        max-width: none;
    }

    .cart-vc {
        width: auto;
        position: relative;
    }
}

@media (max-width: 800px) {
    .body {
        min-height: unset;
        margin-right: 0%;
    }
}

@media (max-width: 900px) {
    .tagline {
        font-size: 3rem;
    }
}

@media (max-width: 760px) {

    .product-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .tagline {
        font-size: 2rem;
    }

    .text-container {
        width: 80%;
        max-width: 300px;
    }
}

@media (max-width: 560px) {
    .tagline {
        font-size: 1.5rem;
    }

    .mobile-hide {
        display: none;
    }
}

.navbar.is-gradient {
    background-image: linear-gradient( to right, #23d160, #1a8e42 );
    color: #fff;
}

    .navbar.is-gradient .navbar-brand > .navbar-item,
    .navbar.is-gradient .navbar-brand .navbar-link {
        color: #fff;
    }

        .navbar.is-gradient .navbar-brand > a.navbar-item:hover, .navbar.is-gradient .navbar-brand > a.navbar-item.is-active,
        .navbar.is-gradient .navbar-brand .navbar-link:hover,
        .navbar.is-gradient .navbar-brand .navbar-link.is-active {
            background-color: #20bc56;
            color: #fff;
        }

        .navbar.is-gradient .navbar-brand .navbar-link::after {
            border-color: #fff;
        }

    .navbar.is-gradient .navbar-burger {
        color: #fff;
    }

@media screen and (min-width: 1088px) {
    .navbar.is-gradient .navbar-start > .navbar-item,
    .navbar.is-gradient .navbar-start .navbar-link,
    .navbar.is-gradient .navbar-end > .navbar-item,
    .navbar.is-gradient .navbar-end .navbar-link {
        color: #fff;
    }

        .navbar.is-gradient .navbar-start > a.navbar-item:hover, .navbar.is-success .navbar-start > a.navbar-item.is-active,
        .navbar.is-gradient .navbar-start .navbar-link:hover,
        .navbar.is-gradient .navbar-start .navbar-link.is-active,
        .navbar.is-gradient .navbar-end > a.navbar-item:hover,
        .navbar.is-gradient .navbar-end > a.navbar-item.is-active,
        .navbar.is-gradient .navbar-end .navbar-link:hover,
        .navbar.is-gradient .navbar-end .navbar-link.is-active {
            background-color: #20bc56;
            color: #fff;
        }

        .navbar.is-gradient .navbar-start .navbar-link::after,
        .navbar.is-gradient .navbar-end .navbar-link::after {
            border-color: #fff;
        }

    .navbar.is-gradient .navbar-item.has-dropdown:hover .navbar-link,
    .navbar.is-gradient .navbar-item.has-dropdown.is-active .navbar-link {
        background-color: #20bc56;
        color: #fff;
    }

    .navbar.is-gradient .navbar-dropdown a.navbar-item.is-active {
        background-image: linear-gradient( to right, #23d160, #1a8e42 );
        color: #fff;
    }
}