@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato|Indie+Flower|Raleway|Bowlby+One+SC');

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

a {
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    transition: 0.5s ease;
    color: #EE9C20;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.petite-caps {
    font-variant-caps: all-petite-caps;
}

.product-img {
    width: 250px;
}

.fader-1 {
    background-image: url(/Assets/Images/dog-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fredoka-one {
    font-family: 'Fredoka One', cursive;
}

.indie-flower {
    font-family: 'Indie Flower', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.bowlby-one-sc {
    font-family: 'Bowlby One SC', cursive;
}

.tagline {
    font-size: 4rem;
}

@media (max-width: 800px) {
    .body {
        min-height: unset;
        margin-right: 0%;
    }
}

@media (max-width: 865px) {
    .tagline {
        font-size: 3rem;
    }
}

@media (max-width: 760px) {

    .product-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
}