@{
    Layout = "_Layout";
}
<section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="tagline has-text-black">
                Coming soon
            </h1>
            <h2 class="subtitle is-size-3 has-text-black">
                Discounted pricing for members with spayed or neutered dogs!
            </h2>
        </div>
    </div>
</section>
<section class="center pad-bottom-m">
    <div class="container">
        <video autoplay loop="loop" width="1000" controls="controls" preload="auto">
            <source src="~/Assets/Video/beach_doggo_good_boye.mp4" type="video/mp4" />
        </video>
    </div>
</section>