@{
    Layout = "_Layout";
}
<div class="pad-top-s center">
    <p><span class="bold">COMING SOON!</span> Discounted pricing for members with spayed or neutered dogs!</p>
</div>
<div class="pad-top-s pad-bottom-m center">
    <video autoplay loop="loop" width="760" controls="controls" preload="auto">
        <source src="~/Assets/Video/beach_doggo_good_boye.mp4" type="video/mp4" />
    </video>
</div>