@{
    Layout = "_Layout";
}
<section class="hero is-fullheight info-img">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="tagline has-text-black has-text-weight-bold">
                Good Deals for Good Deeds
            </h1>
            <h2 class="subtitle is-size-3 is-size-5-mobile has-text-black">
                Now featuring discounts for members with spayed or neutered dogs
            </h2>
        </div>
    </div>
</section>