@{
    Layout = "_Layout";
}
<section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="tagline has-text-weight-bold has-text-black">
                Product Details
            </h1>
        </div>
    </div>
</section>

<section class="pad-bottom-m">
    <div class="container">
        <partial name="../Partials/_DisplayProduct.cshtml" />
    </div>
</section>