@{
    Layout = "_Layout";
}
<section class="hero is-large explore-img">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="tagline has-text-weight-bold has-text-black">
                Explore
            </h1>
            <h2 class="subtitle is-size-1 is-size-3-mobile has-text-black">
                Follow your nose
            </h2>
        </div>
    </div>
</section>

<section class="pad-top-m pad-bottom-m">
    <div class="container has-text-centered">
        <h1 class="title is-1 is-size-3-mobile is-spaced has-text-weight-bold">
            Products
        </h1>
    </div>
</section>

<section class="">
    <div class="container">
        <partial name="../Partials/_DisplayProductsDetail.cshtml" />
    </div>
</section>