@{
    Layout = "_Layout";
}
<h1 class="center pad-top-m pad-bottom-m">Welcome to <span class="fredoka-one">Good Toyes!</span></h1>
<div class="overlayer container-s pad-bottom-s pad-top-s pad-left-s pad-right-s">
    <ul>
        <li><a href="../Account/Login">Login</a></li>
        <li><a href="../Account/Register">Register</a></li>
    </ul>
</div>