@{
    Layout = "_Layout";
}
<section class="hero is-large fader-1">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="tagline has-text-black">
                Good Toyes for Good Boyes.
            </h1>
            <h2 class="subtitle is-size-3 has-text-black">
                Now featuring discounts for members with spayed or neutered dogs
            </h2>
        </div>
    </div>
</section>
<section class="pad-top-s">
    <div class="container has-text-centered">
        <h1 class="title is-size-2">
            Featured Products
        </h1>
    </div>
</section>
<section class="pad-top-s">
    <div class="container">
        <partial name="../Partials/_DisplayProducts.cshtml" />
    </div>
</section>