@using GoodToyes.Models.Interfaces
@inject IProduct ProductManager
@{
    Layout = "_Layout";
    var products = await ProductManager.GetProducts();
}
<div class="body">
    <h1 class="center pad-top-m pad-bottom-xs petite-caps bold">Good Toyes <span class="text-s">FOR</span> Good Boyes!</h1>
    <div class="container-s pad-bottom-s pad-top-s pad-left-s pad-right-s auto-margin">
    </div>
    <div class="pad-bottom-xl text-s auto-align center">Now featuring discounts for members with spayed or neutered dogs!</div>
    <div class="pad-bottom-xl"></div>
    <div class="pad-bottom-xl"></div>
</div>
<div class="center logo-text">Featured Products</div>
<div class="pad-top-xs pad-bottom-s container-xl flex-row-container space-around auto-margin center">
    @foreach (var product in products)
    {
        <div class="pads-xs">
            <img src="@product.Image" class="product-img"/>
        </div>
    }
</div>