@model List<GoodToyes.ViewModels.CartItemViewModel>

<div class="cart-vc">
    <h1 class="pad-bottom-xs is-size-6">Your Cart:</h1>
    <div class="pad-bottom-xs scrollable">
        @foreach (var item in Model)
        {
            <span class="is-size-6">@item.ProductName</span>
            <span class="has-text-success">@item.ProductPrice</span>
        }
    </div>
    <div class="buttons is-centered pad-bottom-s pad-top-s">
        <div class="field is-grouped">
            <div class="control">
                <a href="~/Cart" class="button is-success" type="submit">View Cart</a>
            </div>
        </div>
    </div>
</div>