@model List<GoodToyes.ViewModels.CartItemViewModel>

<div>
    <h1 class="pad-bottom-xs is-size-4">Your Cart:</h1>
    @foreach (var item in Model)
    {
        <h1 class="subtitle">@item.ProductName</h1>
        <p>@item.ProductPrice x @item.Quantity </p>
    }
</div>