@using GoodToyes.Models.Interfaces
@inject IProduct ProductManager
@{
    var products = await ProductManager.GetProducts();
}

<div class="product-container">
    @foreach (var product in products)
    {
    <a asp-action="Details" asp-controller="Shop" asp-route-id="@product.ID">
        <div class="pads-s">
            <img src="@product.Image" class="product-img" />
            <ul>
                <li class="is-size-5 has-text-dark">@product.Name</li>
                <li class="is-size-3">$@product.Price</li>
            </ul>
        </div>
    </a>
    }
</div>