@model GoodToyes.Models.Product
@{
}

<div class="card">
    <div class="card-image">
        <figure class="card-image is-1by1 center">
            <img src="/@Model.Image" class="" />
        </figure>
    </div>

    <div class="card-content">
        <div class="container center">
            <span class="title is-2 is-size-4-mobile is-spaced has-text-weight-bold pad-right-s">
                @Model.Name
            </span>
            <span class="subtitle is-size-2 is-size-4-mobile is-success">
                $@Model.Price
            </span>
            <p class="is-size-4 is-size-5-mobile">@Model.Description</p>
            <p class="is-size-4 is-size-5-mobile">SKU: #@Model.SKU</p>
            <div class="buttons is-centered pad-top-s">
                <div class="field is-grouped">
                    <div class="control">
                        <button asp-action="AddCart" asp-route-id="@Model.ID" class="button is-link" type="submit">Add to Cart</button>
                    </div>
                    <div class="control">
                        <a href="~/Shop#productsline" class="button is-text">Back to Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>