@using GoodToyes.Models.Interfaces
@inject IProduct ProductManager
@{
    var products = await ProductManager.GetProducts();
}
<div class="product-container">
    @foreach (var product in products)
    {
        <div class="">
            <img src="@product.Image" class="product-img" />
        </div>
    }
</div>