@using Microsoft.AspNetCore.Identity
@using GoodToyes.Models

@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Utilities.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" rel="stylesheet" />
    <link href="~/Styles/Base.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });
    </script>
</head>
<body>
    <nav class="navbar is-gradient box-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="~/Assets/Logos/logo.png" width="80" height="80" />
                <h2 class="title is-size-3 pad-left-xs luckiest-guy has-text-white outline"> Good Toyes</h2>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="goodToyesNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="goodToyesNavbar" class="navbar-menu">
            <div class="navbar-start pad-left-xs">
                <a href="/" class="navbar-item">
                    <span class="icon is-large">
                        <i class="fas fa-lg fa-home" aria-hidden="true"></i>
                    </span>
                    Home
                </a>
                <a href="~/Shop" class="navbar-item">
                    <span class="icon is-large">
                        <i class="fas fa-lg fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                    Shop
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        @if (signInManager.IsSignedIn(User))
                        {
                            if (User.Claims.First(c => c.Type == "SpayNeuter").Value == "True")
                            {
                                <partial name="../Partials/_UserDropDown.cshtml" />
                            }
                        }
                        else
                        {
                            <a href="~/Policy/Info" class="navbar-item">
                                <span class="icon is-medium">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                                Discounts
                            </a>
                        }
                        <hr class="navbar-divider" />
                        <a class="navbar-item has-text-danger" href="mailto:norepy.goodtoyes@gmail.com?subject=Report%20an%20Issue">
                            <span class="icon is-medium">
                                <i class="fas fa-exclamation"></i>
                            </span>
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="navbar-item">
                        <div class="buttons is-size-5">
                            <p class="pad-right-xs">Hey, @User.Claims.First(c => c.Type == "FullName").Value! |</p>
                            <a href="../Account/Logout" class="has-text-danger">
                                Log out
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="../Account/Register" class="button is-success">
                                <strong>Sign up</strong>
                            </a>
                            <a href="../Account/Login" class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &#169; <strong>Good Toyes</strong> 2019
            </p>
        </div>
    </footer>
</body>
</html>
