@using Microsoft.AspNetCore.Identity
@using GoodToyes.Models
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Reset.css" rel="stylesheet" />
    <link href="~/Styles/Base.css" rel="stylesheet" />
    <link href="~/Styles/IntelliStyle.css" rel="stylesheet" />
</head>
<body>
    <header class="flex-row-container space-between pad-top-xs">
        <a href="/" class="logo-link">
            <div class="pad-left-s">
                <img src="~/Assets/Logos/logo.png" alt="Good Toyes" class="logo-img" />
                <span class="logo-text">Good Toyes</span>
            </div>
        </a>
        <div class="pad-right-s">
            @if (signInManager.IsSignedIn(User))
            {
                <span class="greeting">Hey, @User.Claims.First(c => c.Type == "FullName").Value!</span>
            }
            else
            {
                <span class="greeting"><a href="../Account/Login">Login</a> or <a href="../Account/Register">Register</a></span>
            }
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="center pads-xs">&#169; Good Toyes 2019</div>
    </footer>
</body>
</html>
