@model GoodToyes.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity
@using GoodToyes.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_Layout";
}
<section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-1">
                Log in
            </h1>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <form method="post">
            <div class="field">
                <label asp-for="Email" class="label">Email</label>
                <div class="control has-icons-left">
                    <input asp-for="Email" class="input" type="email" placeholder="example@email.com" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
                <p class="help is-danger">
                    <span asp-validation-for="Email"></span>
                </p>
            </div>

            <div class="field">
                <label asp-for="Password" class="label">Password</label>
                <div class="control has-icons-left">
                    <input asp-for="Password" class="input" type="password" placeholder="Enter your password" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <p class="help is-danger">
                    <span asp-validation-for="Password"></span>
                </p>
            </div>

            <div class="buttons is-centered">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">Log in</button>
                    </div>
                    <div class="control">
                        <button class="button is-text">Cancel</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="buttons is-centered pad-bottom-m">
            <div class="field is-grouped">
                <div class="control">
                    @{ 
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

                        if (loginProviders.Count > 0)
                        {
                            <h1 class="subtitle">Login with Another Account</h1>
                            <form asp-action="ExternalLogin" method="post">
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" name="provider" value="@provider.Name" title="Log in using @provider.DisplayName">
                                @if (provider.Name == "Facebook")
                                {
                                    <i class="fab fa-facebook"></i><span class="pad-left-xs">Facebook</span>
                                }
                                    </button>
                                }
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>