@model GoodToyes.ViewModels.RegisterViewModel
@{
    Layout = "_Layout";
}
<form method="post">
    <div class="pad-top-m"></div>
    <div class="overlayer container-l pad-top-s pad-bottom-s hover-shadow">
        <p class="center logo-text pad-bottom-s">Sign Up!</p>
        <table class="auto-margin">
            <tbody>
                <tr>
                    <td><label asp-for="Email">Enter your email: </label></td>
                    <td></td>
                    <td><input asp-for="Email" class="wide-input" /></td>
                    <td><span asp-validation-for="Email"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="FirstName">Enter your first name: </label></td>
                    <td></td>
                    <td><input asp-for="FirstName" class="wide-input" /></td>
                    <td><span asp-validation-for="FirstName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="LastName">Enter your last name: </label></td>
                    <td></td>
                    <td><input asp-for="LastName" class="wide-input" /></td>
                    <td><span asp-validation-for="LastName"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Birthdate">Enter your birthday: </label></td>
                    <td></td>
                    <td><input asp-for="Birthdate" class="wide-input" /></td>
                    <td><span asp-validation-for="Birthdate"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="SpayedOrNeutered">Check if Your Pet is Spayed or Neutered? </label></td>
                    <td><input asp-for="SpayedOrNeutered" /></td>
                    <td><span asp-validation-for="SpayedOrNeutered"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Password">Enter your password: </label></td>
                    <td></td>
                    <td><input asp-for="Password" class="wide-input" /></td>
                    <td><span asp-validation-for="Password"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="ConfirmPassword">Confirm your password: </label></td>
                    <td></td>
                    <td><input asp-for="ConfirmPassword" class="wide-input" /></td>
                    <td><span asp-validation-for="ConfirmPassword"></span></td>
                </tr>
            </tbody>
        </table>
        <div class="center pad-top-xs"><button type="submit">Register</button></div>
    </div>
</form>