@model GoodToyes.Models.Order

@using GoodToyes.Models.Interfaces

@inject IOrder OrderService
@{
    Layout = "_Layout";
    var orders = await OrderService.GetOrders();
}

    
        
            @foreach (var order in orders) {

                 <div>
                    <label>User Name</label>
                    <p>@order.UserName</p>

                    <label>Order Date</label>
                    <p>@order.OrderDate</p>

                    <label>Grand Total</label>
                    <p>@order.GrandTotal</p>

                </div>
            }
       
   

