@model GoodToyes.Models.Order

@using GoodToyes.Models.Interfaces

@inject IOrder OrderService
@{
    Layout = "_Layout";
    var orders = await OrderService.GetOrders();
}
@foreach (var order in orders)
{

    <div>
        <label>Order Date</label>
        <p>@order.OrderDate</p>
        <label>Grand Total</label>
        <p>@order.GrandTotal</p>
        @foreach (var item in order.OrderItems)
        {
            <label>Product ID</label>
            <p>@item.Quantity</p>
        }
    </div>
}