@page
@model GoodToyes.Pages.User.UpdatePasswordModel
@{
    Layout = "_Layout";
}
<section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-1">
                Update Password
            </h1>
        </div>
    </div>
</section>

<section class="pad-bottom-m">
    <form method="post" asp-page-handler="Password">
        <div class="container">
            <div class="field">
                <label asp-for="Password" class="label">Current Password</label>
                <div class="control has-icons-left">
                    <input asp-for="Password" class="input" type="password" placeholder="Current Password" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <p class="help is-danger">
                    <span asp-validation-for="Password"></span>
                </p>
            </div>

            <div class="container">
                <div class="field">
                    <label asp-for="NewPassword" class="label">New Password</label>
                    <div class="control has-icons-left">
                        <input asp-for="NewPassword" class="input" type="password" placeholder="Pick a strong password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <p class="help is-danger">
                        <span asp-validation-for="NewPassword"></span>
                    </p>
                </div>

                <div class="field">
                    <label asp-for="ConfirmPassword" class="label">Confirm New Password</label>
                    <div class="control has-icons-left has-icons-right">
                        <input asp-for="ConfirmPassword" class="input" type="password" placeholder="Confirm password" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-check-circle"></i>
                        </span>
                    </div>
                    <p class="help is-danger">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </p>
                </div>

                <div class="buttons is-centered">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-success" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>