@page
@model GoodToyes.Pages.User.UpdatePasswordModel
@{
}
<section>
    <div class="container">
        <div class="field">
            <label asp-for="Password" class="label">Password</label>
            <div class="control has-icons-left">
                <input asp-for="Password" class="input" type="password" placeholder="Pick a strong password" />
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="Password"></span>
            </p>
        </div>

        <div class="field">
            <label asp-for="ConfirmPassword" class="label">Confirm Password</label>
            <div class="control has-icons-left has-icons-right">
                <input asp-for="ConfirmPassword" class="input" type="password" placeholder="Confirm password" />
                <span class="icon is-small is-left">
                    <i class="fas fa-check-circle"></i>
                </span>
            </div>
            <p class="help is-danger">
                <span asp-validation-for="ConfirmPassword"></span>
            </p>
        </div>
    </div>
</section>