@model List<GoodToyes.Models.CartItem>

<div>
    <h1>Your Cart:</h1>
    @foreach (var item in Model)
    {
        <h3>@item.ID @item.Product.Name</h3>
        <p>@item.Product.Price</p>
    }
</div>